body {
    background-color: var(--Light-grayish-cyan);
}

.container_principal {
    max-width: 900px;
}

.container_principal {
    border-radius: 20px;
}

.label_bill,
.label_tip {
    color: var(--Dark-grayish-cyan);
}

input.input_number {
    background-color: var(--Very-light-grayish-cyan);
    font-size: 24px;
    text-align: right;
    color: var(--Very-dark-cyan);
}

input.input_number::placeholder {
    color: var(--Grayish-cyan);
    font-family: FontAwesome;
    text-align: left;
}

.button_tip {
    background-color: var(--Very-dark-cyan);
    color: white;
    font-size: 24px;
}

.reset_button {
    background-color: var(--Strong-cyan);
    color: var(--Very-dark-cyan);
    font-size: 20px;
}

.input_tip {
    font-size: 24px;
    color: var(--Dark-grayish-cyan);
    text-align: right;
    background-color: var(--Very-light-grayish-cyan);
}

.input_tip::placeholder {
    font-size: 18px;
    text-align: right;
    color: var(--Dark-grayish-cyan);
}

.feedback_square {
    background-color: var(--Very-dark-cyan);
    border-radius: 10px;
}

.feedback_top {
    font-size: 18px;
}

.feedback_bottom {
    color: var(--Grayish-cyan);
}

div.col-6.text-end {
    color: var(--Strong-cyan);
    font-size: 30px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}