body {
    background-color: var(--Light-grayish-cyan);
}

.container_principal {
    max-width: 900px;
}

.container_principal {
    border-radius: 20px;
}

.label_bill,
.label_tip {
    color: var(--Dark-grayish-cyan);
}

input.input_number {
    background-color: var(--Very-light-grayish-cyan);
    font-size: 20px;
    text-align: right;
    color: var(--Very-dark-cyan);
}

input.input_number::placeholder {
    color: var(--Grayish-cyan);
    font-family: FontAwesome;
    text-align: left;
}

.button_tip {
    background-color: var(--Very-dark-cyan);
    color: white;
    font-size: 20px;
}

.reset_button {
    background-color: var(--Strong-cyan);
    color: var(--Very-dark-cyan);
    font-size: 20px;
}

.input_tip {
    font-size: 20px;
    color: var(--Dark-grayish-cyan);
    text-align: right;
    background-color: var(--Very-light-grayish-cyan);
}

.input_tip::placeholder {
    text-align: right;
    color: var(--Dark-grayish-cyan);
}

.feedback_square {
    background-color: var(--Very-dark-cyan);
    border-radius: 10px;
}

.feedback_top {
    font-size: 20px;
}

.feedback_bottom {
    color: var(--Grayish-cyan);
}

div.col-6.text-end {
    color: var(--Strong-cyan);
    font-size: 35px;
}